* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  padding: 20px;
  display: flex;
  gap: 20px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* flex-wrap: wrap; */
}
.box {
  width: 200px;
  height: 200px;
  background-color: #ccc;
}

.center-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.child-box {
  width: 100px;
  height: 100px;
  background-color: red;
}

.flex-2{
  flex: 2;
}

.flex-1{
  flex: 1;
}