*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.nav{
  background-color: gray;
  padding: 10px;
  text-align: center;
}

ul li{
  display: inline-block;
  list-style-type: none;
}

ul li a{
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: #fff;
  background-color: #000;
  border-radius: 5px;
}