* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.h1_anime {
  font-size: 50px;
  color: crimson;
  padding: 5px;
  /* animation: slideInTop 1s ease-in-out infinite; */
  animation-name: slideInTop;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: both;
}

@keyframes slideInTop {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.box {
  justify-self: center;
  width: 200px;
  height: 200px;
  background-color: crimson;
  border-radius: 10px;
}

.odd {
  animation-name: bounceAnimationOdd;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}
.even {
  animation-name: bounceAnimationEven;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}

@keyframes bounceAnimationOdd {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  }
}

@keyframes bounceAnimationEven {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  }
}
